button {
  display: block;
  padding: 24px 48px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 6px;
  color: #FFF;
  border: 2px solid #FFF;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  background: none;
  z-index: 1;
  transition: 0.8s ease-out;
}
